# Heart Disease Prediction

- Hannah Dickescheid (50178)
- Julia Stieler (56040)
- Eva Zinser (53100)
- Carlos Ferrufino (53276)
- Celina Kollwitz (53676)

Heart disease is one of the leading causes of death worldwide, and early detection can be critical for successful treatment. Machine learning has emerged as a powerful tool for predicting the risk of heart disease by analyzing various features such as age, gender, blood pressure, cholesterol level, and smoking habits. In this notebook, we will explore a heart disease dataset and build a machine learning model to predict the likelihood of heart disease based on various patient features.

In [1]:
import os
import pandas as pd

In [2]:
data_df = pd.read_csv("data/2015.csv")
data_df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,1.0,1.0,b'01292015',b'01',b'29',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0
1,1.0,1.0,b'01202015',b'01',b'20',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,2.0,2.0,3.0,3.0,4.0,2.0,2.0,NaN,NaN,2.0
2,1.0,1.0,b'02012015',b'02',b'01',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN
3,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,9.0
4,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0

In [3]:
data_df.shape

(441456, 330)

In [4]:
data_df.columns

Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'CTELENUM',
       ...
       '_PAREC1', '_PASTAE1', '_LMTACT1', '_LMTWRK1', '_LMTSCL1', '_RFSEAT2',
       '_RFSEAT3', '_FLSHOT6', '_PNEUMO2', '_AIDTST3'],
      dtype='object', length=330)

In [5]:
columns = list(data_df)
columns

['_STATE',
 'FMONTH',
 'IDATE',
 'IMONTH',
 'IDAY',
 'IYEAR',
 'DISPCODE',
 'SEQNO',
 '_PSU',
 'CTELENUM',
 'PVTRESD1',
 'COLGHOUS',
 'STATERES',
 'CELLFON3',
 'LADULT',
 'NUMADULT',
 'NUMMEN',
 'NUMWOMEN',
 'CTELNUM1',
 'CELLFON2',
 'CADULT',
 'PVTRESD2',
 'CCLGHOUS',
 'CSTATE',
 'LANDLINE',
 'HHADULT',
 'GENHLTH',
 'PHYSHLTH',
 'MENTHLTH',
 'POORHLTH',
 'HLTHPLN1',
 'PERSDOC2',
 'MEDCOST',
 'CHECKUP1',
 'BPHIGH4',
 'BPMEDS',
 'BLOODCHO',
 'CHOLCHK',
 'TOLDHI2',
 'CVDINFR4',
 'CVDCRHD4',
 'CVDSTRK3',
 'ASTHMA3',
 'ASTHNOW',
 'CHCSCNCR',
 'CHCOCNCR',
 'CHCCOPD1',
 'HAVARTH3',
 'ADDEPEV2',
 'CHCKIDNY',
 'DIABETE3',
 'DIABAGE2',
 'SEX',
 'MARITAL',
 'EDUCA',
 'RENTHOM1',
 'NUMHHOL2',
 'NUMPHON2',
 'CPDEMO1',
 'VETERAN3',
 'EMPLOY1',
 'CHILDREN',
 'INCOME2',
 'INTERNET',
 'WEIGHT2',
 'HEIGHT3',
 'PREGNANT',
 'QLACTLM2',
 'USEEQUIP',
 'BLIND',
 'DECIDE',
 'DIFFWALK',
 'DIFFDRES',
 'DIFFALON',
 'SMOKE100',
 'SMOKDAY2',
 'STOPSMK2',
 'LASTSMK2',
 'USENOW3',
 'ALCDAY5',
 'AVEDRNK2',
 'DRNK3GE5',
 'MAXDRNKS',
 'FRUITJU1',
 'FRUIT1',
 'FVBEANS',
 'FVGREEN',
 'FVORANG',
 'VEGETAB1',
 'EXERANY2',
 'EXRACT11',
 'EXEROFT1',
 'EXERHMM1',
 'EXRACT21',
 'EXEROFT2',
 'EXERHMM2',
 'STRENGTH',
 'LMTJOIN3',
 'ARTHDIS2',
 'ARTHSOCL',
 'JOINPAIN',
 'SEATBELT',
 'FLUSHOT6',
 'FLSHTMY2',
 'IMFVPLAC',
 'PNEUVAC3',
 'HIVTST6',
 'HIVTSTD3',
 'WHRTST10',
 'PDIABTST',
 'PREDIAB1',
 'INSULIN',
 'BLDSUGAR',
 'FEETCHK2',
 'DOCTDIAB',
 'CHKHEMO3',
 'FEETCHK',
 'EYEEXAM',
 'DIABEYE',
 'DIABEDU',
 'PAINACT2',
 'QLMENTL2',
 'QLSTRES2',
 'QLHLTH2',
 'CAREGIV1',
 'CRGVREL1',
 'CRGVLNG1',
 'CRGVHRS1',
 'CRGVPRB1',
 'CRGVPERS',
 'CRGVHOUS',
 'CRGVMST2',
 'CRGVEXPT',
 'VIDFCLT2',
 'VIREDIF3',
 'VIPRFVS2',
 'VINOCRE2',
 'VIEYEXM2',
 'VIINSUR2',
 'VICTRCT4',
 'VIGLUMA2',
 'VIMACDG2',
 'CIMEMLOS',
 'CDHOUSE',
 'CDASSIST',
 'CDHELP',
 'CDSOCIAL',
 'CDDISCUS',
 'WTCHSALT',
 'LONGWTCH',
 'DRADVISE',
 'ASTHMAGE',
 'ASATTACK',
 'ASERVIST',
 'ASDRVIST',
 'ASRCHKUP',
 'ASACTLIM',
 'ASYMPTOM',
 'ASNOSLEP',
 'ASTHMED3',
 'ASINHALR',
 'HAREHAB1',
 'STREHAB1',
 'CVDASPRN',
 'ASPUNSAF',
 'RLIVPAIN',
 'RDUCHART',
 'RDUCSTRK',
 'ARTTODAY',
 'ARTHWGT',
 'ARTHEXER',
 'ARTHEDU',
 'TETANUS',
 'HPVADVC2',
 'HPVADSHT',
 'SHINGLE2',
 'HADMAM',
 'HOWLONG',
 'HADPAP2',
 'LASTPAP2',
 'HPVTEST',
 'HPLSTTST',
 'HADHYST2',
 'PROFEXAM',
 'LENGEXAM',
 'BLDSTOOL',
 'LSTBLDS3',
 'HADSIGM3',
 'HADSGCO1',
 'LASTSIG3',
 'PCPSAAD2',
 'PCPSADI1',
 'PCPSARE1',
 'PSATEST1',
 'PSATIME',
 'PCPSARS1',
 'PCPSADE1',
 'PCDMDECN',
 'SCNTMNY1',
 'SCNTMEL1',
 'SCNTPAID',
 'SCNTWRK1',
 'SCNTLPAD',
 'SCNTLWK1',
 'SXORIENT',
 'TRNSGNDR',
 'RCSGENDR',
 'RCSRLTN2',
 'CASTHDX2',
 'CASTHNO2',
 'EMTSUPRT',
 'LSATISFY',
 'ADPLEASR',
 'ADDOWN',
 'ADSLEEP',
 'ADENERGY',
 'ADEAT1',
 'ADFAIL',
 'ADTHINK',
 'ADMOVE',
 'MISTMNT',
 'ADANXEV',
 'QSTVER',
 'QSTLANG',
 'EXACTOT1',
 'EXACTOT2',
 'MSCODE',
 '_STSTR',
 '_STRWT',
 '_RAWRAKE',
 '_WT2RAKE',
 '_CHISPNC',
 '_CRACE1',
 '_CPRACE',
 '_CLLCPWT',
 '_DUALUSE',
 '_DUALCOR',
 '_LLCPWT',
 '_RFHLTH',
 '_HCVU651',
 '_RFHYPE5',
 '_CHOLCHK',
 '_RFCHOL',
 '_MICHD',
 '_LTASTH1',
 '_CASTHM1',
 '_ASTHMS1',
 '_DRDXAR1',
 '_PRACE1',
 '_MRACE1',
 '_HISPANC',
 '_RACE',
 '_RACEG21',
 '_RACEGR3',
 '_RACE_G1',
 '_AGEG5YR',
 '_AGE65YR',
 '_AGE80',
 '_AGE_G',
 'HTIN4',
 'HTM4',
 'WTKG3',
 '_BMI5',
 '_BMI5CAT',
 '_RFBMI5',
 '_CHLDCNT',
 '_EDUCAG',
 '_INCOMG',
 '_SMOKER3',
 '_RFSMOK3',
 'DRNKANY5',
 'DROCDY3_',
 '_RFBING5',
 '_DRNKWEK',
 '_RFDRHV5',
 'FTJUDA1_',
 'FRUTDA1_',
 'BEANDAY_',
 'GRENDAY_',
 'ORNGDAY_',
 'VEGEDA1_',
 '_MISFRTN',
 '_MISVEGN',
 '_FRTRESP',
 '_VEGRESP',
 '_FRUTSUM',
 '_VEGESUM',
 '_FRTLT1',
 '_VEGLT1',
 '_FRT16',
 '_VEG23',
 '_FRUITEX',
 '_VEGETEX',
 '_TOTINDA',
 'METVL11_',
 'METVL21_',
 'MAXVO2_',
 'FC60_',
 'ACTIN11_',
 'ACTIN21_',
 'PADUR1_',
 'PADUR2_',
 'PAFREQ1_',
 'PAFREQ2_',
 '_MINAC11',
 '_MINAC21',
 'STRFREQ_',
 'PAMISS1_',
 'PAMIN11_',
 'PAMIN21_',
 'PA1MIN_',
 'PAVIG11_',
 'PAVIG21_',
 'PA1VIGM_',
 '_PACAT1',
 '_PAINDX1',
 '_PA150R2',
 '_PA300R2',
 '_PA30021',
 '_PASTRNG',
 '_PAREC1',
 '_PASTAE1',
 '_LMTACT1',
 '_LMTWRK1',
 '_LMTSCL1',
 '_RFSEAT2',
 '_RFSEAT3',
 '_FLSHOT6',
 '_PNEUMO2',
 '_AIDTST3']

In [6]:
missing_values = data_df.isna().sum()
missing_values

_STATE           0
FMONTH           0
IDATE            0
IMONTH           0
IDAY             0
             ...
_RFSEAT2         0
_RFSEAT3         0
_FLSHOT6    283502
_PNEUMO2    283502
_AIDTST3     43387
Length: 330, dtype: int64

In [7]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441456 entries, 0 to 441455
Columns: 330 entries, _STATE to _AIDTST3
dtypes: float64(323), object(7)
memory usage: 1.1+ GB

### Selection of the relevant columns
Research regarding heart disease has identified different important risk factors. We chose these from the dataset.

In [8]:
# select specific columns
data_df_selected = data_df[['IDATE',
                                         '_MICHD', 
                                         '_RFHYPE5',  
                                         'TOLDHI2', '_CHOLCHK', 
                                         '_BMI5', 
                                         'SMOKE100', 
                                         'CVDSTRK3', 'DIABETE3', 
                                         '_TOTINDA', 
                                         '_FRTLT1', '_VEGLT1', 
                                         '_RFDRHV5', 
                                         'HLTHPLN1', 'MEDCOST', 
                                         'GENHLTH', 'MENTHLTH', 'PHYSHLTH', 'DIFFWALK', 
                                         'SEX', '_AGEG5YR', 'EDUCA', 'INCOME2' 
                           ]]

In [9]:
data_df_selected.head()

,IDATE,_MICHD,_RFHYPE5,TOLDHI2,_CHOLCHK,_BMI5,SMOKE100,CVDSTRK3,DIABETE3,_TOTINDA,...,HLTHPLN1,MEDCOST,GENHLTH,MENTHLTH,PHYSHLTH,DIFFWALK,SEX,_AGEG5YR,EDUCA,INCOME2
0,b'01292015',2.0,2.0,1.0,1.0,4018.0,1.0,2.0,3.0,2.0,...,1.0,2.0,5.0,18.0,15.0,1.0,2.0,9.0,4.0,3.0
1,b'01202015',2.0,1.0,2.0,2.0,2509.0,1.0,2.0,3.0,1.0,...,2.0,1.0,3.0,88.0,88.0,2.0,2.0,7.0,6.0,1.0
2,b'02012015',NaN,1.0,1.0,1.0,2204.0,NaN,1.0,3.0,9.0,...,1.0,2.0,4.0,88.0,15.0,NaN,2.0,11.0,4.0,99.0
3,b'01142015',2.0,2.0,1.0,1.0,2819.0,2.0,2.0,3.0,2.0,...,1.0,1.0,5.0,30.0,30.0,1.0,2.0,9.0,4.0,8.0
4,b'01142015',2.0,1.0,2.0,1.0,2437.0,2.0,2.0,3.0,2.0,...,1.0,2.0,5.0,88.0,20.0,2.0,2.0,9.0,5.0,77.0

In [10]:
# drop missing values
data_df_selected = data_df_selected.dropna()
data_df_selected.shape

(343606, 23)

In [11]:
#Rename the columns to make them more readable
data_df_selected = data_df_selected.rename(columns = {'_MICHD':'HeartDiseaseorAttack', 
                                         '_RFHYPE5':'HighBP',  
                                         'TOLDHI2':'HighChol', '_CHOLCHK':'CholCheck', 
                                         '_BMI5':'BMI', 
                                         'SMOKE100':'Smoker', 
                                         'CVDSTRK3':'Stroke', 'DIABETE3':'Diabetes', 
                                         '_TOTINDA':'PhysActivity', 
                                         '_FRTLT1':'Fruits', '_VEGLT1':"Vegetables", 
                                         '_RFDRHV5':'HvyAlcoholConsump', 
                                         'HLTHPLN1':'AnyHealthcare', 'MEDCOST':'NoDocbcCost', 
                                         'GENHLTH':'GenHlth', 'MENTHLTH':'MentHlth', 'PHYSHLTH':'PhysHlth', 'DIFFWALK':'DiffWalk', 
                                         'SEX':'Sex', '_AGEG5YR':'Age', 'EDUCA':'Education', 'INCOME2':'Income' })

### Process dataset for a machine learning approach

In [12]:
# HeartDiseaseorAttack
#Change 2 to 0 because this means did not have MI or CHD
data_df_selected['HeartDiseaseorAttack'] = data_df_selected['HeartDiseaseorAttack'].replace({2: 0})
data_df_selected.HeartDiseaseorAttack.unique()

array([0., 1.])

In [13]:
#1 HighBP
#Change 1 to 0 so it represetnts No high blood pressure and 2 to 1 so it represents high blood pressure
data_df_selected['HighBP'] = data_df_selected['HighBP'].replace({1:0, 2:1})
data_df_selected = data_df_selected[data_df_selected.HighBP != 9]
data_df_selected.HighBP.unique()

array([1., 0.])

In [14]:
#2 HighChol
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
data_df_selected['HighChol'] = data_df_selected['HighChol'].replace({2:0})
data_df_selected = data_df_selected[data_df_selected.HighChol != 7]
data_df_selected = data_df_selected[data_df_selected.HighChol != 9]
data_df_selected.HighChol.unique()

array([1., 0.])

In [15]:
#3 CholCheck
# Change 3 to 0 and 2 to 0 for Not checked cholesterol in past 5 years
# Remove 9
data_df_selected['CholCheck'] = data_df_selected['CholCheck'].replace({3:0,2:0})
data_df_selected = data_df_selected[data_df_selected.CholCheck != 9]
data_df_selected.CholCheck.unique()

array([1., 0.])

In [16]:
#4 BMI (no changes, just note that these are BMI * 100. So for example a BMI of 4018 is really 40.18)
data_df_selected['BMI'] = data_df_selected['BMI'].div(100).round(0)
data_df_selected.BMI.unique()

array([40., 25., 28., 24., 27., 30., 26., 23., 34., 33., 21., 22., 31.,
       38., 20., 19., 32., 46., 41., 37., 36., 29., 35., 18., 54., 45.,
       39., 47., 43., 55., 49., 42., 17., 16., 48., 44., 50., 59., 15.,
       52., 53., 57., 51., 14., 58., 63., 61., 56., 60., 74., 62., 64.,
       13., 66., 73., 65., 68., 85., 71., 84., 67., 70., 82., 79., 92.,
       72., 88., 96., 81., 12., 77., 95., 75., 91., 69., 76., 87., 89.,
       83., 98., 86., 80., 90., 78., 97.])

In [17]:
#5 Smoker
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
data_df_selected['Smoker'] = data_df_selected['Smoker'].replace({2:0})
data_df_selected = data_df_selected[data_df_selected.Smoker != 7]
data_df_selected = data_df_selected[data_df_selected.Smoker != 9]
data_df_selected.Smoker.unique()

array([1., 0.])

In [18]:
#6 Stroke
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
data_df_selected['Stroke'] = data_df_selected['Stroke'].replace({2:0})
data_df_selected = data_df_selected[data_df_selected.Stroke != 7]
data_df_selected = data_df_selected[data_df_selected.Stroke != 9]
data_df_selected.Stroke.unique()

array([0., 1.])

In [19]:
#7 Diabetes
# going to make this ordinal. 0 is for no diabetes or only during pregnancy, 1 is for pre-diabetes or borderline diabetes, 2 is for yes diabetes
# Remove all 7 (dont knows)
# Remove all 9 (refused)
data_df_selected['Diabetes'] = data_df_selected['Diabetes'].replace({2:0, 3:0, 1:2, 4:1})
data_df_selected = data_df_selected[data_df_selected.Diabetes != 7]
data_df_selected = data_df_selected[data_df_selected.Diabetes != 9]
data_df_selected.Diabetes.unique()

array([0., 2., 1.])

In [20]:
#8 PhysActivity
# 1 for physical activity
# change 2 to 0 for no physical activity
# Remove all 9 (don't know/refused)
data_df_selected['PhysActivity'] = data_df_selected['PhysActivity'].replace({2:0})
data_df_selected = data_df_selected[data_df_selected.PhysActivity != 9]
data_df_selected.PhysActivity.unique()

array([0., 1.])

In [21]:
#9 Fruits
# Change 2 to 0. this means no fruit consumed per day. 1 will mean consumed 1 or more pieces of fruit per day 
# remove all dont knows and missing 9
data_df_selected['Fruits'] = data_df_selected['Fruits'].replace({2:0})
data_df_selected = data_df_selected[data_df_selected.Fruits != 9]
data_df_selected.Fruits.unique()

array([0., 1.])

In [22]:
#10 Vegetables
# Change 2 to 0. this means no vegetables consumed per day. 1 will mean consumed 1 or more pieces of vegetable per day 
# remove all dont knows and missing 9
data_df_selected['Vegetables'] = data_df_selected['Vegetables'].replace({2:0})
data_df_selected = data_df_selected[data_df_selected.Vegetables != 9]
data_df_selected.Vegetables.unique()

array([1., 0.])

In [23]:
#11 HvyAlcoholConsump
# Change 1 to 0 (1 was no for heavy drinking). change all 2 to 1 (2 was yes for heavy drinking)
# remove all dont knows and missing 9
data_df_selected['HvyAlcoholConsump'] = data_df_selected['HvyAlcoholConsump'].replace({1:0, 2:1})
data_df_selected = data_df_selected[data_df_selected.HvyAlcoholConsump != 9]
data_df_selected.HvyAlcoholConsump.unique()

array([0., 1.])

In [24]:
#12 AnyHealthcare
# 1 is yes, change 2 to 0 because it is No health care access
# remove 7 and 9 for don't know or refused
data_df_selected['AnyHealthcare'] = data_df_selected['AnyHealthcare'].replace({2:0})
data_df_selected = data_df_selected[data_df_selected.AnyHealthcare != 7]
data_df_selected = data_df_selected[data_df_selected.AnyHealthcare != 9]
data_df_selected.AnyHealthcare.unique()

array([1., 0.])

In [25]:
#13 NoDocbcCost
# Change 2 to 0 for no, 1 is already yes
# remove 7 for don/t know and 9 for refused
data_df_selected['NoDocbcCost'] = data_df_selected['NoDocbcCost'].replace({2:0})
data_df_selected = data_df_selected[data_df_selected.NoDocbcCost != 7]
data_df_selected = data_df_selected[data_df_selected.NoDocbcCost != 9]
data_df_selected.NoDocbcCost.unique()

array([0., 1.])

In [26]:
#14 GenHlth
# This is an ordinal variable that I want to keep (1 is Excellent -> 5 is Poor)
# Remove 7 and 9 for don't know and refused
data_df_selected = data_df_selected[data_df_selected.GenHlth != 7]
data_df_selected = data_df_selected[data_df_selected.GenHlth != 9]
data_df_selected.GenHlth.unique()

array([5., 3., 2., 4., 1.])

In [27]:
#15 MentHlth
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
data_df_selected['MentHlth'] = data_df_selected['MentHlth'].replace({88:0})
data_df_selected = data_df_selected[data_df_selected.MentHlth != 77]
data_df_selected = data_df_selected[data_df_selected.MentHlth != 99]
data_df_selected.MentHlth.unique()

array([18.,  0., 30.,  3.,  5., 15., 10.,  6., 20.,  2., 25.,  1., 29.,
        4.,  7.,  8., 21., 14., 26.,  9., 16., 28., 11., 12., 24., 17.,
       13., 23., 27., 19., 22.])

In [28]:
#16 PhysHlth
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
data_df_selected['PhysHlth'] = data_df_selected['PhysHlth'].replace({88:0})
data_df_selected = data_df_selected[data_df_selected.PhysHlth != 77]
data_df_selected = data_df_selected[data_df_selected.PhysHlth != 99]
data_df_selected.PhysHlth.unique()

array([15.,  0., 30.,  2., 14., 28.,  7., 20.,  3., 10.,  1.,  5., 17.,
        4., 19.,  6., 21., 12.,  8., 25., 27., 22., 29., 24.,  9., 16.,
       18., 23., 13., 26., 11.])

In [29]:
#17 DiffWalk
# change 2 to 0 for no. 1 is already yes
# remove 7 and 9 for don't know not sure and refused
data_df_selected['DiffWalk'] = data_df_selected['DiffWalk'].replace({2:0})
data_df_selected = data_df_selected[data_df_selected.DiffWalk != 7]
data_df_selected = data_df_selected[data_df_selected.DiffWalk != 9]
data_df_selected.DiffWalk.unique()

array([1., 0.])

In [30]:
#18 Sex
# in other words - is respondent male (somewhat arbitrarily chose this change because men are at higher risk for heart disease)
# change 2 to 0 (female as 0). Male is 1
data_df_selected['Sex'] = data_df_selected['Sex'].replace({2:0})
data_df_selected.Sex.unique()

array([0., 1.])

In [31]:
#19 Age
# already ordinal. 1 is 18-24 all the way up to 13 wis 80 and older. 5 year increments.
# remove 14 because it is don't know or missing
data_df_selected = data_df_selected[data_df_selected.Age != 14]
data_df_selected.Age.unique()

array([ 9.,  7., 11., 10., 13.,  8.,  4.,  6.,  2., 12.,  5.,  1.,  3.])

In [32]:
#20 Education
# This is already an ordinal variable with 1 being never attended school or kindergarten only up to 6 being college 4 years or more
# Scale here is 1-6
# Remove 9 for refused:
data_df_selected = data_df_selected[data_df_selected.Education != 9]
data_df_selected.Education.unique()

array([4., 6., 3., 5., 2., 1.])

In [33]:
#21 Income
# Variable is already ordinal with 1 being less than $10,000 all the way up to 8 being $75,000 or more
# Remove 77 and 99 for don't know and refused
data_df_selected = data_df_selected[data_df_selected.Income != 77]
data_df_selected = data_df_selected[data_df_selected.Income != 99]
data_df_selected.Income.unique()

array([3., 1., 8., 6., 4., 7., 2., 5.])

In [34]:
#Notice the imbalance in the two classes
data_df_selected.groupby(['HeartDiseaseorAttack']).size()

HeartDiseaseorAttack
0.0    229787
1.0     23893
dtype: int64

### Having a closer look on the selected dataset:

In [35]:
data_df_selected.shape

(253680, 23)

In [36]:
data_df_selected.describe()

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,...,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.094186,0.429001,0.424121,0.962670,28.382364,0.443169,0.040571,0.296921,0.756544,0.634256,...,0.951053,0.084177,2.511392,3.184772,4.242081,0.168224,0.440342,8.032119,5.050434,6.053875
std,0.292087,0.494934,0.494210,0.189571,6.608694,0.496761,0.197294,0.698160,0.429169,0.481639,...,0.215759,0.277654,1.068477,7.412847,8.717951,0.374066,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,0.000000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,1.000000,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,2.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000

In [37]:
# save to csv
#data_df_selected.to_csv('heart_disease_health_features.csv', sep=",", index=False)