## This is our Group Project dealing with heart deseases
tbd

In [1]:
import os
import pandas as pd

In [2]:
data_df = pd.read_csv("data/2015.csv")
data_df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,1.0,1.0,b'01292015',b'01',b'29',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0
1,1.0,1.0,b'01202015',b'01',b'20',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,2.0,2.0,3.0,3.0,4.0,2.0,2.0,NaN,NaN,2.0
2,1.0,1.0,b'02012015',b'02',b'01',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN
3,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,9.0
4,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0

In [4]:
data_df.shape

(441456, 330)

In [6]:
data_df.columns

Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'CTELENUM',
       ...
       '_PAREC1', '_PASTAE1', '_LMTACT1', '_LMTWRK1', '_LMTSCL1', '_RFSEAT2',
       '_RFSEAT3', '_FLSHOT6', '_PNEUMO2', '_AIDTST3'],
      dtype='object', length=330)

In [7]:
columns = list(data_df)
columns

['_STATE',
 'FMONTH',
 'IDATE',
 'IMONTH',
 'IDAY',
 'IYEAR',
 'DISPCODE',
 'SEQNO',
 '_PSU',
 'CTELENUM',
 'PVTRESD1',
 'COLGHOUS',
 'STATERES',
 'CELLFON3',
 'LADULT',
 'NUMADULT',
 'NUMMEN',
 'NUMWOMEN',
 'CTELNUM1',
 'CELLFON2',
 'CADULT',
 'PVTRESD2',
 'CCLGHOUS',
 'CSTATE',
 'LANDLINE',
 'HHADULT',
 'GENHLTH',
 'PHYSHLTH',
 'MENTHLTH',
 'POORHLTH',
 'HLTHPLN1',
 'PERSDOC2',
 'MEDCOST',
 'CHECKUP1',
 'BPHIGH4',
 'BPMEDS',
 'BLOODCHO',
 'CHOLCHK',
 'TOLDHI2',
 'CVDINFR4',
 'CVDCRHD4',
 'CVDSTRK3',
 'ASTHMA3',
 'ASTHNOW',
 'CHCSCNCR',
 'CHCOCNCR',
 'CHCCOPD1',
 'HAVARTH3',
 'ADDEPEV2',
 'CHCKIDNY',
 'DIABETE3',
 'DIABAGE2',
 'SEX',
 'MARITAL',
 'EDUCA',
 'RENTHOM1',
 'NUMHHOL2',
 'NUMPHON2',
 'CPDEMO1',
 'VETERAN3',
 'EMPLOY1',
 'CHILDREN',
 'INCOME2',
 'INTERNET',
 'WEIGHT2',
 'HEIGHT3',
 'PREGNANT',
 'QLACTLM2',
 'USEEQUIP',
 'BLIND',
 'DECIDE',
 'DIFFWALK',
 'DIFFDRES',
 'DIFFALON',
 'SMOKE100',
 'SMOKDAY2',
 'STOPSMK2',
 'LASTSMK2',
 'USENOW3',
 'ALCDAY5',
 'AVEDRNK2',
 'DRNK3GE5',
 'MAXDRNKS',
 'FRUITJU1',
 'FRUIT1',
 'FVBEANS',
 'FVGREEN',
 'FVORANG',
 'VEGETAB1',
 'EXERANY2',
 'EXRACT11',
 'EXEROFT1',
 'EXERHMM1',
 'EXRACT21',
 'EXEROFT2',
 'EXERHMM2',
 'STRENGTH',
 'LMTJOIN3',
 'ARTHDIS2',
 'ARTHSOCL',
 'JOINPAIN',
 'SEATBELT',
 'FLUSHOT6',
 'FLSHTMY2',
 'IMFVPLAC',
 'PNEUVAC3',
 'HIVTST6',
 'HIVTSTD3',
 'WHRTST10',
 'PDIABTST',
 'PREDIAB1',
 'INSULIN',
 'BLDSUGAR',
 'FEETCHK2',
 'DOCTDIAB',
 'CHKHEMO3',
 'FEETCHK',
 'EYEEXAM',
 'DIABEYE',
 'DIABEDU',
 'PAINACT2',
 'QLMENTL2',
 'QLSTRES2',
 'QLHLTH2',
 'CAREGIV1',
 'CRGVREL1',
 'CRGVLNG1',
 'CRGVHRS1',
 'CRGVPRB1',
 'CRGVPERS',
 'CRGVHOUS',
 'CRGVMST2',
 'CRGVEXPT',
 'VIDFCLT2',
 'VIREDIF3',
 'VIPRFVS2',
 'VINOCRE2',
 'VIEYEXM2',
 'VIINSUR2',
 'VICTRCT4',
 'VIGLUMA2',
 'VIMACDG2',
 'CIMEMLOS',
 'CDHOUSE',
 'CDASSIST',
 'CDHELP',
 'CDSOCIAL',
 'CDDISCUS',
 'WTCHSALT',
 'LONGWTCH',
 'DRADVISE',
 'ASTHMAGE',
 'ASATTACK',
 'ASERVIST',
 'ASDRVIST',
 'ASRCHKUP',
 'ASACTLIM',
 'ASYMPTOM',
 'ASNOSLEP',
 'ASTHMED3',
 'ASINHALR',
 'HAREHAB1',
 'STREHAB1',
 'CVDASPRN',
 'ASPUNSAF',
 'RLIVPAIN',
 'RDUCHART',
 'RDUCSTRK',
 'ARTTODAY',
 'ARTHWGT',
 'ARTHEXER',
 'ARTHEDU',
 'TETANUS',
 'HPVADVC2',
 'HPVADSHT',
 'SHINGLE2',
 'HADMAM',
 'HOWLONG',
 'HADPAP2',
 'LASTPAP2',
 'HPVTEST',
 'HPLSTTST',
 'HADHYST2',
 'PROFEXAM',
 'LENGEXAM',
 'BLDSTOOL',
 'LSTBLDS3',
 'HADSIGM3',
 'HADSGCO1',
 'LASTSIG3',
 'PCPSAAD2',
 'PCPSADI1',
 'PCPSARE1',
 'PSATEST1',
 'PSATIME',
 'PCPSARS1',
 'PCPSADE1',
 'PCDMDECN',
 'SCNTMNY1',
 'SCNTMEL1',
 'SCNTPAID',
 'SCNTWRK1',
 'SCNTLPAD',
 'SCNTLWK1',
 'SXORIENT',
 'TRNSGNDR',
 'RCSGENDR',
 'RCSRLTN2',
 'CASTHDX2',
 'CASTHNO2',
 'EMTSUPRT',
 'LSATISFY',
 'ADPLEASR',
 'ADDOWN',
 'ADSLEEP',
 'ADENERGY',
 'ADEAT1',
 'ADFAIL',
 'ADTHINK',
 'ADMOVE',
 'MISTMNT',
 'ADANXEV',
 'QSTVER',
 'QSTLANG',
 'EXACTOT1',
 'EXACTOT2',
 'MSCODE',
 '_STSTR',
 '_STRWT',
 '_RAWRAKE',
 '_WT2RAKE',
 '_CHISPNC',
 '_CRACE1',
 '_CPRACE',
 '_CLLCPWT',
 '_DUALUSE',
 '_DUALCOR',
 '_LLCPWT',
 '_RFHLTH',
 '_HCVU651',
 '_RFHYPE5',
 '_CHOLCHK',
 '_RFCHOL',
 '_MICHD',
 '_LTASTH1',
 '_CASTHM1',
 '_ASTHMS1',
 '_DRDXAR1',
 '_PRACE1',
 '_MRACE1',
 '_HISPANC',
 '_RACE',
 '_RACEG21',
 '_RACEGR3',
 '_RACE_G1',
 '_AGEG5YR',
 '_AGE65YR',
 '_AGE80',
 '_AGE_G',
 'HTIN4',
 'HTM4',
 'WTKG3',
 '_BMI5',
 '_BMI5CAT',
 '_RFBMI5',
 '_CHLDCNT',
 '_EDUCAG',
 '_INCOMG',
 '_SMOKER3',
 '_RFSMOK3',
 'DRNKANY5',
 'DROCDY3_',
 '_RFBING5',
 '_DRNKWEK',
 '_RFDRHV5',
 'FTJUDA1_',
 'FRUTDA1_',
 'BEANDAY_',
 'GRENDAY_',
 'ORNGDAY_',
 'VEGEDA1_',
 '_MISFRTN',
 '_MISVEGN',
 '_FRTRESP',
 '_VEGRESP',
 '_FRUTSUM',
 '_VEGESUM',
 '_FRTLT1',
 '_VEGLT1',
 '_FRT16',
 '_VEG23',
 '_FRUITEX',
 '_VEGETEX',
 '_TOTINDA',
 'METVL11_',
 'METVL21_',
 'MAXVO2_',
 'FC60_',
 'ACTIN11_',
 'ACTIN21_',
 'PADUR1_',
 'PADUR2_',
 'PAFREQ1_',
 'PAFREQ2_',
 '_MINAC11',
 '_MINAC21',
 'STRFREQ_',
 'PAMISS1_',
 'PAMIN11_',
 'PAMIN21_',
 'PA1MIN_',
 'PAVIG11_',
 'PAVIG21_',
 'PA1VIGM_',
 '_PACAT1',
 '_PAINDX1',
 '_PA150R2',
 '_PA300R2',
 '_PA30021',
 '_PASTRNG',
 '_PAREC1',
 '_PASTAE1',
 '_LMTACT1',
 '_LMTWRK1',
 '_LMTSCL1',
 '_RFSEAT2',
 '_RFSEAT3',
 '_FLSHOT6',
 '_PNEUMO2',
 '_AIDTST3']

In [10]:
missing_values = data_df.isna().sum()

_STATE           0
FMONTH           0
IDATE            0
IMONTH           0
IDAY             0
             ...
_RFSEAT2         0
_RFSEAT3         0
_FLSHOT6    283502
_PNEUMO2    283502
_AIDTST3     43387
Length: 330, dtype: int64

In [ ]:
data_df.describe()

,_STATE,FMONTH,DISPCODE,SEQNO,_PSU,CTELENUM,PVTRESD1,COLGHOUS,STATERES,CELLFON3,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
count,441456.000000,441456.000000,441456.000000,4.414560e+05,4.414560e+05,254645.0,254645.000000,45.0,254643.0,254646.000000,...,441456.000000,441456.000000,438657.000000,438657.000000,438657.000000,441456.000000,441456.000000,157954.000000,157954.000000,398069.000000
mean,29.968715,6.359676,1115.040457,2.015005e+09,2.015005e+09,1.0,1.000177,1.0,1.0,1.545133,...,3.494124,2.742695,2.716879,2.815149,3.652717,1.824624,1.887028,2.290705,2.412259,1.970156
std,16.034710,3.487131,35.746794,4.113443e+03,4.113443e+03,0.0,0.013292,0.0,0.0,0.497960,...,2.398322,2.449676,1.324145,1.356101,1.266730,2.360812,2.351387,2.518086,2.778032,1.441119
min,1.000000,1.000000,1100.000000,2.015000e+09,2.015000e+09,1.0,1.000000,1.0,1.0,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,19.000000,3.000000,1100.000000,2.015002e+09,2.015002e+09,1.0,1.000000,1.0,1.0,1.000000,...,2.000000,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,29.000000,6.000000,1100.000000,2.015004e+09,2.015004e+09,1.0,1.000000,1.0,1.0,2.000000,...,3.000000,2.000000,3.000000,3.000000,4.000000,1.000000,1.000000,1.000000,1.000000,2.000000
75%,44.000000,9.000000,1100.000000,2.015007e+09,2.015007e+09,1.0,1.000000,1.0,1.0,2.000000,...,4.000000,2.000000,3.000000,3.000000,4.000000,1.000000,1.000000,2.000000,2.000000,2.000000
max,72.000000,12.000000,1200.000000,2.015023e+09,2.015023e+09,1.0,2.000000,1.0,1.0,2.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [12]:
# select specific columns
data_df_selected = data_df[['IDATE',
                                         '_MICHD', 
                                         '_RFHYPE5',  
                                         'TOLDHI2', '_CHOLCHK', 
                                         '_BMI5', 
                                         'SMOKE100', 
                                         'CVDSTRK3', 'DIABETE3', 
                                         '_TOTINDA', 
                                         '_FRTLT1', '_VEGLT1', 
                                         '_RFDRHV5', 
                                         'HLTHPLN1', 'MEDCOST', 
                                         'GENHLTH', 'MENTHLTH', 'PHYSHLTH', 'DIFFWALK', 
                                         'SEX', '_AGEG5YR', 'EDUCA', 'INCOME2' ]]

In [13]:
data_df_selected.head()

,IDATE,_MICHD,_RFHYPE5,TOLDHI2,_CHOLCHK,_BMI5,SMOKE100,CVDSTRK3,DIABETE3,_TOTINDA,...,HLTHPLN1,MEDCOST,GENHLTH,MENTHLTH,PHYSHLTH,DIFFWALK,SEX,_AGEG5YR,EDUCA,INCOME2
0,b'01292015',2.0,2.0,1.0,1.0,4018.0,1.0,2.0,3.0,2.0,...,1.0,2.0,5.0,18.0,15.0,1.0,2.0,9.0,4.0,3.0
1,b'01202015',2.0,1.0,2.0,2.0,2509.0,1.0,2.0,3.0,1.0,...,2.0,1.0,3.0,88.0,88.0,2.0,2.0,7.0,6.0,1.0
2,b'02012015',NaN,1.0,1.0,1.0,2204.0,NaN,1.0,3.0,9.0,...,1.0,2.0,4.0,88.0,15.0,NaN,2.0,11.0,4.0,99.0
3,b'01142015',2.0,2.0,1.0,1.0,2819.0,2.0,2.0,3.0,2.0,...,1.0,1.0,5.0,30.0,30.0,1.0,2.0,9.0,4.0,8.0
4,b'01142015',2.0,1.0,2.0,1.0,2437.0,2.0,2.0,3.0,2.0,...,1.0,2.0,5.0,88.0,20.0,2.0,2.0,9.0,5.0,77.0

In [15]:
# drop missing values
data_df_selected = data_df_selected.dropna()
data_df_selected.shape

(343606, 23)